= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      .alert.alert-danger
        %h4= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
        %ul
          - @group.errors.full_messages.each do |msg|
            %li= msg
  .row
    .col-md-6
      .form-group
        = f.label :name, 'Group Name'
        %br
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :summary, 'Description'
        %br
        = f.text_area :summary, class: 'form-control'
      .form-group
        = f.label :max_members, 'Max Members'
        %br
        = f.number_field :max_members, min: 1, class: 'form-control'
      .form-group
        %label= 'Openings'
        %br
        %p{:class => 'form-control-static'}= (@group.max_members - @group.group_memberships.size).to_s
    .col-md-5.col-md-offset-1
      .form-group
        %label= 'Group Leaders'
        %br
        %p{:class => 'form-control-static'}
          -@group.group_leaderships.each do |leader|
            = leader.user.first_name + ' ' + leader.user.last_name
            %br
      .form-group
        %label= 'Group Members'
        %br
        %p{:class => 'form-control-static'}
          -@group.group_memberships.each do |member|
            = member.user.first_name + ' ' + member.user.last_name
            %br
  .actions
    = f.submit 'Save', class: 'btn btn-primary'

:javascript
  
