%h1 Groups List

%table{:class => 'table table-hover table-condensed'}
  %thead
    %tr
      %th Group Name
      %th Max Members
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.name
        %td= group.max_members
        %td{:class => 'pull-right'}
          = link_to 'View', group, class: 'btn btn-default btn-xs'
          = link_to '', edit_group_path(group), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil'
          = link_to '', group, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs glyphicon glyphicon-remove'

%br

= link_to 'New Group', new_group_path, class: 'btn btn-primary'
