.row
  .col-md-6.col-md-offset-3
    %h1 Groups
    - @groups.each do |group|
      .well
        %div{:class => 'pull-right'}
          = link_to '', edit_group_path(group), class: 'btn btn-default btn-xs glyphicon glyphicon-pencil'
          = link_to '', group, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs glyphicon glyphicon-remove'
        %div
          %a{:href => group_path(group)}
            %h3= group.name
            %p= group.summary
            %p
              Max Members:
              = group.max_members.to_s
              %br
              Openings:
              = (group.max_members - group.users.size).to_s

    = link_to 'New Group', new_group_path, class: 'btn btn-primary'