%p#notice= notice

%h1= @group.name
.row
  .col-md-6
    .form-group
      %label= 'Group Description'
      %br
      %p{:class => 'form-control-static'}= @group.summary
    .form-group
      %label= 'Max Members'
      %br
      %p{:class => 'form-control-static'}= @group.max_members

= link_to 'Edit', edit_group_path(@group), class: 'btn btn-primary'
= link_to 'Back', groups_path, class: 'btn btn-default'
