- nav_bar_data = Hash.new 
- nav_bar_data[:user_signed_in] = user_signed_in?
- nav_bar_data[:links] = []
- nav_bar_data[:links][0] = { name: 'Groups', path: groups_path }
- nav_bar_data[:links][1] = { name: 'Prayer Requests', path: '#' }
- nav_bar_data[:my_account_link] = edit_user_registration_path
- nav_bar_data[:logout_link] = destroy_user_session_path
- nav_bar_data[:login_link] = new_user_session_path
- nav_bar_data[:sign_up_link] = new_user_registration_path

!!!
%html
  %head
    %meta{:content => "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %title Small Groups App
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      = react_component('NavBar', nav_bar_data, {prerender: true})
      / .row
      /   %nav{:class => 'navbar navbar-default'}
      /     .col-md-10.col-md-offset-1
      /       .navbar-header
      /         %button{:type => 'button', :class => 'navbar-toggle collapsed', :'data-toggle' => 'collapse', :'data-target' => '#navbar-collapse'}
      /           %span{:class => 'sr-only'} Toggle navigation
      /           %span{:class => 'icon-bar'}
      /           %span{:class => 'icon-bar'}
      /           %span{:class => 'icon-bar'}
      /         %a{:class => 'navbar-brand', :href => '#'} Small Groups App
      /       .collapse.navbar-collapse{:id => 'navbar-collapse'}
      /         - if user_signed_in?
      /           %ul{:class => 'nav navbar-nav'}
      /             %li
      /               = link_to('Groups', groups_path)
      /             %li
      /               = link_to('Prayer Requests', '#')
      /         %ul{:class => 'nav navbar-nav navbar-right'}
      /           - if user_signed_in?
      /             %li
      /               = link_to('My Account', edit_user_registration_path)
      /             %li
      /               = link_to('Logout', destroy_user_session_path, :method => :delete)
      /           - else
      /             %li
      /               = link_to('Login', new_user_session_path)
      /             %li
      /               = link_to('Sign Up', new_user_registration_path)

      .row
        .col-md-10.col-md-offset-1
          - if notice
            %p{:class => 'alert alert-success'}= notice
          - if alert
            %p{:class => 'alert alert-danger'}= alert
          = yield
